body {
  background-image: url(../imagens/foto.jpg);
  background-image: no-repeat, repeat;
  background-size: cover;
  margin: 0%;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5%;
}

header {
  width: 100%;
  height: 60px;
  background-color: #212329;
  display: block;
}

header img {
  margin-left: 52rem;
}

header nav {
  margin-left: 35rem;
  float: right;
}

header a {
  text-decoration: none;
  color: rgb(219, 226, 3);
  font-size: 1rem;
  margin-right: 1rem;
  font-family: 'Roboto', sans-serif;
}

h3 {
  text-align: center;
  padding-right: 24%;
  margin-top: 5vh;
  color: rgb(219, 226, 3);
}

.informacao {
  text-align: center;
  margin-bottom: 2vh;
  margin-left: 2vw;
  color: rgb(219, 226, 3);
}

input {
  margin-left: 1vw;
  border-radius: 13%;
}

.coluna {
  width: 100%;
}

label {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.professorImg {
  float: left;
  margin-left: 25%;
  margin-top: 2%;
}

form {
  margin-top: 5vh;
  padding-right: 25%;
}

.inputStyle {
  color: rgb(0, 0, 0);
  border-radius: 13%;
}

.professor {
  width: 1075px;
  height: 620px;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 40px;
  object-fit: contain;
  margin-top: 5%%;
  font-family: 'Roboto', sans-serif;
  border-radius: 7%;
  background-image: url(../imagens/4167709.webp);
  background-image: no-repeat, repeat;
  background-size: cover;
}