body {
      /* background-image: url(./imagens/006-Gmax.png); */
    background-image: url(../imagens/Dragonite.full.1972317.jpg); 
    background-image: no-repeat;
    background-size: cover;
    background-color: #010608;
    margin: 0%;
}

h2{
   text-align: center;
   margin-top:10%;
   color: #ea821b;
}

h4 {
    text-align: center;
}

h3 {
    text-align: center;
    color: aliceblue;
}

header img {
    margin-left: 52rem;
}

header nav {
    margin-left: 35rem;
    float: right;
}

header a {
    text-decoration: none;
    color: rgb(219, 226, 3);
    font-size: 1rem;
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header{
    width: 100%;
    height: 60px;
    background-color: #212329;
    text-align: center;
}
.pokemon {
    width: 1075px;
    height: 460px;
    display: block;
    background-color: #212329;
    border-radius: 10px;
    margin-left: 120px;
    margin-right: 40px;
    object-fit: contain;
    margin-top: 15%;
    font-family: 'Roboto', sans-serif;
}

.status {
    width: 600px;
    background-color: #212329;
    height: 460px;
    border-radius: 10px;
    margin-top: 5%;  
}
 .card{
    width: 400px;
    float: right;
} 

.estilo {
    width: 15%;
    background-color: black;
    height: 20px;
    margin-top: 2%;
    display: block;
    font-family: 'Roboto', sans-serif;
    border-radius: 2rem;
    text-align: center;
}

.statusHp {
    width: 45%;
    background-color: #5fa68d;
    height: 20px;
    display: block;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.numeroHp {
    text-align: center;
    height: 14px;
    color: rgb(14, 8, 8);
}

.statusAttack {
    width: 70%;
    background-color: #ea821b;
    height: 20px;
    display: block;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.statusDefense {
    width: 48%;
    background-color: #5fa68d;
    height: 20px;
    display: block;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;

}

.statusSpAtk {
    width: 50%;
    background-color: #ea821b;
    height: 20px;
    display: block;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;

}

.statusSpDef {
    width: 50%;
    background-color: #5fa68d;
    height: 20px;
    display: block;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;

}

.statusSpeed {
    width: 40%;
    background-color: #ea821b;
    height: 20px;
    display: block;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.tipo1 {

    width: 30%;
    background-color: #ea821b;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 2rem;
    text-align: center;
    display: inline-table;
    margin-top: 2%;
}

.tipo2 {
    width: 30%;
    background-color: #5fa68d;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 2rem;
    text-align: center;
    display: inline-table;
}
.texto{
    color: #ea821b;;
}
.link{
   margin-top: 10%;
   float: right;
   
}
.botao{
    width: 5vw;
    background-color: #212329;
    height: 2.5vh;
    font-family: 'Roboto', sans-serif;
    border-radius: 2rem;
    text-align: center;
    display: inline-table; 
}

a{
    color: #ea821b;
}