body {
    background-image: url(../imagens/foto.jpg);
    /* background-image: url(./imagens/006-Gmax.png); */
    background-image: no-repeat, repeat;
    background-size: cover;
    background-color: #010608;
    margin: 0%;
}
h3{
    text-align: center;
    color: rgb(219, 226, 3);
}
header img{
    margin-left: 52rem;
}

   header nav{
    margin-left: 35rem;
    float: right;
   }     
   header a{
    text-decoration: none;
    color: rgb(219, 226, 3);
    font-size: 1rem;
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
}
  

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header {
    width: 100%;
    height: 60px;
    background-color: #212329;
    display: block;
}

.cabecalhos {
    text-align: center;
}

.pokemon {
    width: 310px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 120px;
    margin-right: 25px;
    object-fit: contain;
    margin-top: 10%;
    background-color: #212329;
}
.pokemon img{
margin-left: 12%;
}